.container {
  max-width: 100vh;
}

.spinnerContainer {
  margin: 10px;
}

.logoNegative {
  position: absolute;
  top: 50px;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  z-index: 10;
}

.logoRotatingColorGradient {
  position: absolute;
  top: 50px;
  margin: 10px;
  border-radius: 50%;
  min-height: 300px;
  width: 300px;
  z-index: 9;
  background-image: linear-gradient(to right, rgb(43, 175, 147) , rgb(124, 101, 211));
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}